<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="dialect">${database.dialect}</property>
    <property name="connection.driver_class">${database.driver}</property>
    <property name="connection.url">${database.url}</property>
    <property name="connection.username">${database.username}</property>
    <property name="connection.password">${database.password}</property>
    <property name="show_sql">false</property>

    <!-- mapping files -->
    <mapping class="org.surveyforge.util.InternationalizedString" />
    <mapping class="org.surveyforge.classification.Family" />
    <mapping class="org.surveyforge.classification.Classification" />
    <mapping class="org.surveyforge.classification.Version" />
    <mapping class="org.surveyforge.classification.Level" />
    <mapping class="org.surveyforge.classification.Item" />
  </session-factory>
</hibernate-configuration>
